@font-face {
    font-family: Nice font;
    src: url(./MetalMania\ \(2\).ttf);
}

*{
    margin: 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}

.section-1{
    background-color: #333;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card {
    height: 30rem;
    width: 20rem;
    position: relative;
    perspective: 150rem;
    
    border-radius: 20px;
    /* perspektyva */
}

.card-side {
    height: 30rem;
    width: 20rem;
    
    border-radius: 20px;
    box-shadow: 0 0 10px #222;
    position: absolute;
    top: 0;
    right: 0;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Nice font';
    font-size: 3.5rem;

    transition: all 0.8s ease;

}

.card-front {
    background-color: crimson;
}

.card-back {
    background-color: black;
    transform: rotateY(180deg);

}

.card:hover .card-front {
    transform: rotateY(-180deg);
}
.card:hover .card-back {
    transform: rotateY(0);

}

@media screen and (max-width: 7000px) {
    html {
        font-size: 8px;
    }
}


.card:last-child .card-back{
    align-items: flex-end;

}
.card:last-child .card-back img{
    max-width: 100%;
    max-height: 100%;
}
